---
import "../styles/style.css";
const {header, combatLvl, strLvl, atkLvl, defLvl, rngLvl, mgcLvl} = Astro.props;
---
<h2>{header}</h2>

<article class="input-article">
    <label for="combatLvl">{combatLvl}
        <input type="text" id="combatLvl">
    </label>
    <label for="strLvl">{strLvl}
        <input type="text" id="strLvl">
    </label>
    <label for="atkLvl">{atkLvl}
        <input type="text" id="atkLvl">
    </label>
    <label for="defLvl">{defLvl}
        <input type="text" id="defLvl">
    </label>
    <label for="rngLvl">{rngLvl}
        <input type="text" id="rngLvl">
    </label>
    <label for="mgcLvl">{mgcLvl}
        <input type="text" id="mgcLvl">
    </label>
</article>