---
import "../styles/style.css";
const {slot1, slot2, slot3, slot4, slot5, slot6} = Astro.props;
---

<h2>Inventory</h2>
<article class="input-article">
	<label for="slot1">{slot1}
		<input type="text" id="slot1">
	</label>
	<label for="slot2">{slot2}
		<input type="text" id="slot2">
	</label>
    <label for="slot3">{slot3}
		<input type="text" id="slot3">
	</label>
    <label for="slot4">{slot4}
		<input type="text" id="slot4">
	</label>
    <label for="slot5">{slot5}
		<input type="text" id="slot5">
	</label>
    <label for="slot6">{slot6}
		<input type="text" id="slot6">
	</label>
</article>